footer{
    height: 190px;
    background-color: #2E2E2E;
    color: white;
    #footer__logo{
        width: 25%;
        padding: 15px 0 10px 15px;
        & path{
            fill: white;
        }
    }

    & .footer__menu{
        padding-left: 20px;
& div{
    margin-top: 7px;
}

        & a{
            text-decoration: none;
            color: white;
            margin-top: 30px;
            &:hover{
                text-decoration: underline white;
            }
        }
    }
}