.main_header{
    text-align: center;
    width: 100%;
    height: 20px;
    padding: 20px 0 23px;
    box-shadow: 3px 0px 8px 5px rgba(80, 80, 80, 0.2);
    & svg {
        width: 43%;
    }
}

.container__location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: $colour-darkgrey;
    & p{
        margin-left: 10px;
    }
}

.middle{
    max-width: 370px;
    margin: auto;
}

.headline__container{
    background-color: $colour-lightgrey;
    height: 200px;
    display: flex;
    padding: 40px 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    & h1{
        margin: 0;
        font-size: $header-title-size;
    }
    & .headline__container--secondary{
        @include header-secondary($secondary-title-size - 0.25);
        font-weight: 300;
    }
}

.container__cta{
    height: 390px;
    & .container__cta--title{
        @include header_title;
    }
    & .btn__menu{
        background-color: $colour-lightgrey;
        display: flex;
        width: 325px;
        height: 70px;
        box-shadow: 0px 3px 16px 3px rgba(0,0,0,0.12);
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        position: relative;
        border-radius: 21px;
        color: rgba(0, 0, 0, 0.774);
        cursor: pointer;
        z-index: 1;
        &:hover{
            box-shadow: 0px 3px 16px 3px rgba(0,0,0,0.1);
            &::after{
                opacity: 0.15;
            }
        }
        &::after{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: "";
            border-radius: 21px;
            background-color: $colour-primary;
            z-index: -1;
            opacity: 0;
            transition: opacity 270ms;
        }
        & i{
            margin-right: 25px;
            font-size: 1.1em;
            color: $colour-primary;
            z-index: 1;
        }
        & p{
            margin-right: 30px;
            z-index: 1;
        }
    }
}

.btn__menu--absolute{
    position: absolute;
    top: 24px;
    left: -12px;
    background-color: $colour-primary;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    z-index: 1;
    & p{
        margin: 4px 0 0 8px;
        z-index: 1;
    }
}



@media #{$medium-display}{
    .container__cta{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: auto;
        max-width: none;
    }

    .newnew{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: 1190px;
    }

    .thenew{
        display: flex;
        flex-wrap: wrap;
        max-width: 1140px;
        margin: auto;
        justify-content: space-between;
        height: 630px;
    }

    .middle{
        max-width: none;
    }
}