.loader{
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  z-index: 3;
  animation: disapeareness 4s;
  animation-fill-mode: forwards;
& svg{
  animation: disapeareness 5s linear;
  animation-fill-mode: backwards;
  position: relative;
  width: 150px;
  height: 150px;
  animation: rotate 2s linear infinite;
  }
  & circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: $colour-tertiary;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    animation: animate 4s linear infinite;
  }
}

@keyframes disapeareness {
  0%{
    top: 0;
  }

  80%{
    top: 0;
  }

  100%{
    animation-timing-function: cubic-bezier(.71,.07,.83,.67);
    top: -100%;
  }
}

@keyframes animate{
  0%, 100%{
    stroke-dashoffset: 440;
  }
  50%{
    stroke-dashoffset: 0;
  }
  50.00000001%{
    stroke-dashoffset: 880;
  }
}

@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}