.container__cta{
    background-color: burlywood;
    height: 440px;
    & .container__cta--title{
        @include header-secondary;
    }
    & .btn__menu{
        background-color: blueviolet;
        display: flex;
    }
}
